
.container {
    width: 55%;
    margin: auto;
    position: relative;
}
/* Inizio sezione gestione foto */
 .product {
    width: 200px;
    height: 350px;
    position: relative;
    margin-top: 15px;
    display: inline-block;
    margin-left: 10px;
}

.img1, .img2{
    width: 100%;
    height: 85%;
    position: absolute;
    top: 0px;
    display: inline-block;
}

.img2 {
    visibility: hidden;
}

.product:hover .img2 {
    visibility: visible;
}
/* Fine sezione gestione foto */

/* Inizio sezione Discount*/
.info-discount {
    position: absolute;
    left: 0px;
    bottom: 65px;
    z-index: 1;
}

.discount, .sostenibilità, .sostenibilità-6 {
    font-size: 10px;
    font-family:  sans-serif, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #fff;
    border: 0px;
    padding: 3px 3px;
}

.discount {
    background-color: #ff0000;
}

.sostenibilità {
    background-color: #028759;
    margin-left: 3px;
}

.sostenibilità-6 {
    background-color: #028759;
    margin-left: 0px;
}
/* Fine sezione Discount */


/* Inizio sezione info */
.brand {
    position: absolute;
    bottom: 35px;
    font-size: 9px;
    font-family:  sans-serif, Verdana, Geneva, Tahoma, sans-serif;
    color: 	#808080;
}

.name {
    position: absolute;
    bottom: 21px;
    font-size: 14px;
    font-family:  sans-serif, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.price-red, .price-gray {
    position: absolute;
    bottom: 12px;
    font-size: 9px;
    font-family:  sans-serif, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.price-red {
    color: #ff0000;
}

.price-gray {
    color: 	#808080;
    position: absolute;
    left: 35px;
    text-decoration: line-through;
}
/* Fine sezione info */

/* Tasto "mi piace" */
 .product .heart {
    text-align: center;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 10px;
    right: 0px;
    z-index: 2;
    background-color: #fff;
}
/* Tasto "mi piace" */